#page {

}

.header {
    grid-area: head;
    background-color: #8ca0ff;
}

/* .aside {
    display: unset;
    grid-area: nav;
    background-color: #ffa08c;
} */

.main {
    grid-area: main;
    background-color: #ffff64;
}

.footer {
    grid-area: foot;
    background-color: #8cffa0;
}
